:root{
  --primary:#012970
}
.rounded-x{
  border-radius:10px !important;
}

.link{
  cursor:pointer
  }
.infotTab{
  border:1px solid whitesmoke !important
}
.infotTab:hover{
  border:1px solid var(--primary) !important
}
.infotTab:hover h4{
  color:var(--primary) !important
}
 .text-pri{
  color:var(--primary) !important

 }
 .d-none{
   display:none !important;
 }

 .whatsapp{
   position:fixed !important;
   right:7% !important;
   bottom:30% !important;
   padding:2px 5px;
   border-radius:50%;
   width:54px;
   z-index:4px !important;
   height:54px;
 }
 